.ui {
  text-align: center;
  padding: 0.5rem;
}

.darken{
  color: #333333;
}

.ui.card{
  padding: 1.5rem;
  width: 100%;
  min-width: 210px;
}

.ui.card.none{
  background: linear-gradient(to bottom, #f0f0f0 0%,#c7d7df 70%,#a5ddec 100%);
}
.ui.card.snow{
  background: linear-gradient(to bottom, #dbdbdb 0%,#b3b3b3 70%,#d8dee0 100%);
}
.ui.card.rain{
  background: linear-gradient(to bottom, #368ece 0%,#2a76cc 70%,#50749b 100%);
}
.ui.card.clear{
  background: linear-gradient(to bottom, #9be2fe 0%,#67d1fb 100%);
}

.ui.card.rain .content .description,.ui.card.snow .content .description{
  color: white;
}
.ui.card.clear .content .description{
  color: rgb(255, 230, 0);
}

div.weather-item.item:hover{
  background-color: rgb(221, 221, 221) !important;
}

.search.icon{
  position: absolute;
  top: 40px;
  left: 14px;
}

.ui.form input{
  padding-left: 2.25rem !important;
}